<div id="app">
</div>

<div class="small-12 columns">
  <div id="submit-podcast-button" class="small-6 small-centered columns">
    <%= link_to "Submit New Podcast", new_podcast_path %>
  </div>
</div>
